<section class="experience">
    <h2>Professional Experience</h2>
    <div class="job">
        <h3>Junior Backend Engineer</h3>
        <p class="job-info">Poridhi.io | Dec 2023 - Present | Dhaka, Bangladesh</p>
        <h4>DevOps Team</h4>
        <ul>
            <li>Developed and implemented comprehensive DevOps solutions for customer microservice applications, adhering to GitOps principles.</li>
            <li>Deployed all services on Kubernetes clusters, configured horizontal pod autoscaling, and managed cluster secrets from scratch on bare metal.</li>
            <li>Ensured robust CI/CD pipelines using on-premise solutions for continuous integration, maintaining security best practices.</li>
            <li>Utilized ArgoCD for continuous deployment, set up NGINX-Ingress for traffic management, and exposed services externally via Cloudflare Tunnel.</li>
        </ul>
        <h4>Engineering Team</h4>
        <ul>
            <li>Built a Kubernetes playground leveraging Firecracker microVMs and software-defined networking.</li>
            <li>Designed and maintained high-availability systems through a distributed architecture using gRPC.</li>
            <li>Focused on backend engineering, implementing scalable and resilient backend solutions.</li>
            <li>Developed and maintained a Pub/Sub architecture with Redis queues.</li>
            <li>Implemented both software and database level state machine-based systems.</li>
        </ul>
    </div>
</section>