<section class="skills">
    <h2>Technical Skills</h2>
    <ul>
        <li><strong>Languages:</strong> Go, Python, Bash, C, C++, JavaScript</li>
        <li><strong>Databases:</strong> MySQL, PostgreSQL, MongoDB, Redis</li>
        <li><strong>Technologies:</strong> Opentelemetry, Kubernetes, Docker, Git, ArgoCD, NGINX, Prometheus, Grafana, Firecracker microVMs, Cloud Hypervisor</li>
        <li><strong>Other:</strong> Data structures and algorithms, software-defined networking, distributed systems, microservices architecture, CI/CD pipelines, high availability systems, performance tuning, security best practices, event-driven architecture, real-time data processing</li>
    </ul>
</section>
