<section class="summary">
    <h2>Professional Summary</h2>
    <p class="info">As a Backend Engineer, I specialize in system programming, architecting and optimizing performance-critical solutions for distributed systems. My expertise lies in designing resilient backend systems, focusing on low-level efficiency and scalability. While I currently work on system-level optimizations and ensuring robustness in large-scale deployments, I am continuously expanding my skill set.</p>

    <p class="info">I am keen to shift my focus towards data-intensive applications. My passion lies in solving complex challenges such as optimizing data throughput, ensuring data consistency, and building scalable, fault-tolerant architectures to handle large datasets in distributed environments. This combination of current expertise and future aspirations positions me to tackle the evolving demands of modern backend engineering.</p>
</section>