<header>
    <h1>Sagore Sarker</h1>
    <p>Passionate Backend Engineer Focused on Scalable Distributed Systems</p>
    <p>Dhaka, Bangladesh | sagoresarker.cse@gmail.com | (+880) 16263 04354</p>
    <p>
        <a href="https://github.com/sagoresarker" target="_blank">GitHub</a> |
        <a href="https://linkedin.com/in/sagore-sarker/" target="_blank">LinkedIn</a> |
        <a href="https://backendbyte.com" target="_blank">Blog</a> |
        <a href="https://drive.google.com/file/d/1s0V0BHSUwDpzfMm-DaGKfa2f6_onCUYH/view?usp=sharing" class="download-cv" download>Download CV</a>
    </p>
    <div class="gopher-image"></div>
    <div class="tag-line"> I love System Programming...</div>
</header>
